body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@font-face {
  font-family: "Monocode-Regular-V01.02b";
  src: local("Monocode-Regular-V01.02b"),
    url("./fonts/Monocode-Regular-V01.02b.ttf") format("truetype");
  font-weight: normal;
}
/* added custom font here from dafont.com*/